* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background:
		linear-gradient(rgba(195, 209, 179, 0.5), rgba(174, 198, 163, 0.9)),
		url("../assets/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	width: 450px;
	height: 550px;
	background: rgba(231, 99, 97, 0.5);
	position: relative;
	backdrop-filter: blur(15px);
	padding: 10px;
	overflow: hidden;
}

.logo {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(252, 252, 252, 0.2);
	color: #fcfcfc;
	padding: 0 10px;
}

.container .head p {
	position: relative;
}

.container .head p span {
	position: absolute;
	background: #eee7d5;
	color: #e76361;
	width: 20px;
	height: 20px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -10px;
	right: -10px;
	border-radius: 50%;
}

.cards-container {
	overflow: hidden;
	overflow-y: auto;
	max-height: 380px;
	width: 100%;
	padding: 0 10px;
	transition: 0.5s ease-in-out all;
}

.cards-container .card {
	background: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fcfcfc;
	margin: 10px 0;
	padding: 5px;
}

.cards-container .card p {
	display: flex;
	gap: 10px;
	align-items: center;
	text-transform: uppercase;
	font-size: 20px;
	color: #eee7d5;
	width: 90%;
	overflow: hidden;
	cursor: pointer;
}

/* width */
.cards-container::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.cards-container::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
.cards-container::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.1);
}

/* Handle on hover */
.cards-container::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.5);
}

.btns {
	display: flex;
}

button {
	pointer-events: all;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	position: relative;
}

button span {
	cursor: pointer;
	padding: 10px;
	font-size: 25px;
	font-weight: 300;
	color: #eee7d5;
	transition: 0.5s ease-in-out all;
}

button span:hover {
	background: #eee7d5;
	color: #e76361;
}

.btns button span:last-child {
	position: absolute;
	font-size: 10px;
	text-transform: uppercase;
	background: #eee7d5;
	color: #e76361;
	top: -30px;
	padding: 5px;
	opacity: 0;
	transition: 0.5s ease-in-out all;
}

.btns button span:last-child::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background: #eee7d5;
	z-index: -1;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
}

.btns button:hover span:last-child {
	opacity: 1;
}

button.inactive {
	opacity: 0.5;
	pointer-events: none;
}

.layout,
.error {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	display: none;
	backdrop-filter: blur(15px);
}

.layout.active,
.error.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

.layout.active img {
	opacity: 0.9;
}

.error .error-msg {
	text-align: center;
	color: #eee7d5;
}

.error-msg span:first-child {
	font-size: 100px;
}

.error-msg br + span {
	font-size: 20px;
	text-transform: uppercase;
}

.error > span {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 25px;
	cursor: pointer;
	transition: 0.5s ease-in-out all;
	color: #e76361;
}

.error > span:hover {
	color: #eee7d5;
	background: #e76361;
	/*  */
}
